.header {
  display: flex;
  margin-bottom: -4em;
  padding: 2em;
}

@media screen and (max-width: 1000px) {
  .header {
    margin-bottom: -3em;
  }
}

.github {
  position: absolute;
  right: 0;
  top: 0;
}

.ruby {
  margin-right: 2em;
  width: 8vw;
  height: 8vw;
}

@media screen and (max-width: 1000px) {
  .ruby {
    width: 4em;
    height: 4em;
  }
}

@media screen and (max-width: 800px) {
  .ruby {
    width: 7em;
    height: 7em;
  }
}

.title {
  color: var(--secondary-color);
  font-weight: normal;
}
