.tooltip {
  --background-color: white;
  --corner-size: 30px;
  --font-color: #ddd;

  background-color: var(--secondary-color);
  color: var(--font-color);
  line-height: 1.4;
  margin: 0em auto 2em;
  position: relative;
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .tooltip {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .tooltip {
    width: 85%;
  }
}

@media screen and (max-width: 800px) {
  .tooltip {
    width: 90%;
  }
}

.body {
  max-height: 60vh;
  overflow-y: auto;
  padding: 1em 2em;
}

.tooltip::before,
.tooltip::after,
.body::before,
.body::after {
  content: "";
  position: absolute;
  border-style: solid;
}

.tooltip::before {
  top: 0;
  left: 0;
  border-width: var(--corner-size) var(--corner-size) 0 0;
  border-color: var(--background-color) transparent transparent var(--background-color);
}

.tooltip::after {
  top: 0;
  right: 0;
  border-width: var(--corner-size) 0 0 var(--corner-size);
  border-color: var(--background-color) var(--background-color) transparent transparent;
}

.body::before {
  bottom: 0;
  left: 0;
  border-width: 0 var(--corner-size) var(--corner-size) 0;
  border-color: transparent transparent var(--background-color) var(--background-color);
}

.body::after {
  bottom: 0;
  right: 0;
  border-width: 0 0 var(--corner-size) var(--corner-size);
  border-color: transparent var(--background-color) var(--background-color) transparent;
}

.body {
  overflow-y: scroll;
}

.tooltip h2 {
  color: var(--background-color);
  border-bottom: solid 1px currentColor;
}

.tooltip h2 small {
  float: right;
}

.tooltip a {
  color: white;
}

.tooltip li + li {
  margin-top: 0.75em;
}

.tooltip code {
  color: var(--ternary-color);
  font-size: 1.2em;
  padding: 0 3px;
}

.tooltip br + code,
.tooltip code:first-child {
  padding-left: 0;
}
