body {
  --primary-color: #9b1c16;
  --secondary-color: darkslategray;
  --ternary-color: #fd8781;

  font-family: Verdana, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

[data-react-timeline] [data-selected="true"] path:first-child {
  fill: var(--ternary-color);
}
