.line {
  background-color: var(--secondary-color);
  height: 2px;
  position: relative;
}

.tick {
  position: absolute;
}

.tick::after {
  background-color: var(--secondary-color);
  content: "";
  height: 10px;
  position: absolute;
  transform: translateY(-40%);
  width: 1px;
}
