[data-react-timeline-line] {
  --timeline-color: darkslategray;
  background-color: var(--timeline-color);
  height: 2px;
  position: relative;
}

[data-react-timeline-tick] {
  background-color: var(--timeline-color);
  height: 10px;
  position: absolute;
  transform: translateY(-40%);
  width: 1px;
}
