.timeline {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2em 0 4em;
  width: 100%;
}

.line {
  background-color: var(--secondary-color);
  height: 2px;
  position: relative;
  width: 100%;
}

.marker {
  bottom: -3px;
  height: 1.5em;
  left: -0.75em;
  position: absolute;
  width: 1.5em;
}

.tick {
  position: absolute;
}

.tick::after {
  background-color: var(--secondary-color);
  content: "";
  height: 10px;
  position: absolute;
  transform: translateY(-40%);
  width: 1px;
}
